body {
  font-family: 'Roboto', sans-serif !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(196, 240, 249, 1) 100%);
}

p {
  font-size: 30px;
}


div {
  border: 2px solid black;
}

.contenedorPadre {
  bottom: 30%;
}


/* https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap 
docuemntar este comentario de stack overflow */

.centrar {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


#imagenClima {
  width: 100px;
  height: 100px;
}