body {
  font-family: 'Roboto', sans-serif !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(196, 240, 249, 1) 100%);
}

p {
  font-size: 30px;
}

#informacionClima {}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

div {
  border: 2px solid black;
}