<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APP CLIMA ☀️🥵</title>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />

</head>
<body>

  <div class="contenedor">
    <div class="formulario-ciudad-o-ticket">
      <div class="formulario">
        <form action="#" class="inicio-ciudad">
          <h2 class="titulo">Buscar Por Ciudad</h2>
          <div class="registro">
            <span class="material-symbols-outlined"> location_on </span>
            <!-- <label for="ciudad">Origen:</label> -->
            <input type="text" id="origen" name="ciudad" placeholder="Escribe Un Origen">  
          </div>
          <p class="lista" id = "lista_origen"></p>
          <div class="registro">
            <span class="material-symbols-outlined"> location_city </span>
            <!-- <label for="ciudad">Destino:</label> -->
            <input type="text" id="destino" name="ciudad" placeholder="Escribe Un Destino">
          </div>
          <p class="lista" id = "lista_destino"></p>
          
          <input type="submit" value="BUSCAR" class="btn solid" />
        </form>
        <form action="#" class="inicio-ticket">
          <h2 class="titulo">Buscar Por Número De Ticket</h2>
          <div class="registro">
            <span class="material-symbols-outlined">airplane_ticket</span>
            <!-- <label for="ticket">Ticket:</label> -->
            <input type="text" id="sugeridos" name="ticket" placeholder="Escribe El Número">
          </div>
          <p class="lista" id = "lista_sugeridos"></p>
          <input type="submit" class="btn" value="BUSCAR" />
        </form>
      </div>
    </div>

    <div class="paneles-desplazamiento">
      <div class="panel panel-izquierdo">
        <div class="contenido">
          <h3>¿Quieres Buscar Por El Número De Ticket?</h3>
          
          <p>
            En su boleto de abordaje, encontrará un número de ticket que le permitira
            acceder a la información meteorológica correspondiente a nuestra plataforma.
          </p>
          <button class="btn desplazamiento" id="ticket-boton">
            Por Ticket
          </button>
        </div>
        <img src="/static/img/img-panel.png" class="imagen" alt="" />
      </div>
      <div class="panel panel-derecho">
        <div class="contenido">
          <h3>¿Quieres Buscar Por El Nombre De La Ciudad?</h3>
          <p>
            Usted puede indicar el nombre de la ciduad de origen y de destino, esto le permitira
            acceder a la información meteorológica correspondiente a nuestra plataforma.
          </p>
          <button class="btn desplazamiento" id="ciudad-boton">
            Por Ciudad
          </button>
        </div>
        <img src="/static/img/img-panel2.png" class="imagen" alt="" />
      </div>
    </div>
  </div>

  <script src="/static/js/script.js"></script>
  
</body>
</html>
 
