body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(113, 201, 212, 0.86), #d2d6d6);
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

/* https://stackoverflow.com/questions/15884102/bootstrap-how-do-i-change-the-width-of-the-container 
consultado: 21 de septiemnbre. Usuario GitHub: mcbjam.*/
@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

/* Animacion sacada de la pagina Animated Backgrouns 
consultado el 20 de septiembre */
svg {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: block;

    background-image: linear-gradient(to bottom, rgba(113, 201, 212, 0.86), #d2d6d6);
}

.contenedor {
    position: absolute;
}

.imagenClima {
    width: 100px;
    height: 100px;
}


.textoInformativo {
    display: flex;
    align-items: center;
}

.icono {
    flex: 0 0 auto;
    margin-right: 10px;
}

.icono i {
    font-size: 40px;
}

.texto {
    flex: 1;
    text-align: center;
}

.texto p {
    font-size: 1.5rem;
}


.tituloCiudad {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.fondoTexto {
    background-color: rgb(103, 189, 205);
}