body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(19, 18, 18, 0.86), #8d868a);
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;

    color: black;
}


/* https://stackoverflow.com/questions/15884102/bootstrap-how-do-i-change-the-width-of-the-container */
@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

/* Animacion sacada de la pagina Animated Backgrouns */
svg {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: block;

    background-image: linear-gradient(to bottom, rgba(246, 247, 248, 0.86), #32ace4);
}

.contenedor {
    position: absolute;
}

.imagenClima {
    width: 100px;
    height: 100px;
}

.tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila {
    display: flex;
    justify-content: center;
}

.columna {
    flex: 1;
    justify-content: center;
    align-items: center;
}



.textoInformativo {
    display: flex;
    align-items: center;
}

.icono {
    flex: 0 0 auto;
    margin-right: 10px;
}

.icono i {
    font-size: 40px;
}

.texto {
    flex: 1;
    text-align: center;
}

.texto p {
    font-size: 1.5rem;
}


.tituloCiudad {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.fondoTexto {
    background-color: white;
}