/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: black; /* Color del texto en negro */
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el contenido principal */
#informacionClima {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    color: black; /* Color del texto en negro */
}

/* Estilos para los elementos de la plantilla principal */
.row.gy-5 {
    margin-bottom: 20px;
}

/* Estilos para las tarjetas de información */
.col-4 {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: purple;
}

/* Estilos para los elementos de la plantilla principal */
.row.gy-5 div {
    font-weight: bold;
}

/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
}


/* Animación de humedad */
.animate-humidity {
    transform: scale(1.1); /* Escala la tarjeta al hacer clic */
    transition: transform 0.5s ease; /* Duración y tipo de animación */
}
