<!-- Pagina de error obtenida de: https://github.com/tsparticles/404-templates/blob/main/space/js/404.js
Usuario: tsParticles
consultada: 23 de septiembre -->

<!DOCTYPE html>
<html>

<head>
    <title>Error 404</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/404.css" />
    <link rel="icon" type="image/x-icon" href="../../static/img/tsParticles-64.png">
</head>

<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <h3>Datos no encontrados <span>SPACE</span> Verifca tu número de ticket</h3>
        <img id="astronaut" src="../../static/img/astronaut.svg" />
        <img id="planet" src="../../static/img/planet.svg" />
        <a href="../index.html"><button class="denied__link">Regresar a Inicio</button></a>
    </div>

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/tsparticles@2.3.4/tsparticles.bundle.min.js"></script>
    <script type="text/javascript" src="../../static/js/404.js"></script>

</html>