<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Puma Weather ☀️</title>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <div id="mensaje-error" style="color: red;">
    {% if mensaje_error %}
        {{ mensaje_error }}
    {% endif %}
  </div>


    <div class="contenedor">
        <div class="formulario-ciudad-o-ticket">
          <div class="formulario">
            <div class="opciones" id="inicio-boton" style="display: flex;">
              <h2 class="titulo">Buscar Por Ciudad</h2>
              <div class="botones">
                <button id="ciudad-btn" class="btn"> Por IATA</button>
                <button id="lat_long-boton" class="btn"> Por Coordenadas</button>
              </div>

              <form  class="inicio-ciudad" id="ciudad-form" style="display:block;" action="/mostrar_datos" method="POST">
                <div class="registro">
                    <span class="material-symbols-outlined"> location_on </span>
                    <input type="text" id="ciudad_origen" name="ciudad_origen" required placeholder="Ciudad de Origen" />
                </div>
                    <div id="lista_origen" class="lista"></div>

                <div class="registro">
                    <span class="material-symbols-outlined"> location_city </span>  
                    <input type="text" id="ciudad_destino" name="ciudad_destino" required  placeholder="Ciudad de Destino" />
                </div>
                    <div id="lista_destino" class="lista"></div>

                <input type="submit" class="btn solid" value="Buscar" />
              </form>

              <form  class="inicio-ciudadl" id="coordenadas-form" style="display:none;" action="/mostrar_datos" method="POST">
                <div class="registro">
                    <span class="material-symbols-outlined"> location_on </span>
                    <input type="text" id="coord_origen" name="coord_origen" required placeholder="Coordenadas de Origen" />
                </div>
                    <div id="lista_coordD" class="lista"></div>


                <div class="registro">
                    <span class="material-symbols-outlined"> location_city </span>  
                    <input type="text" id="coord_destino" name="coord_destino" required placeholder="Coordenadas de Destino" />
                </div>
                    <div id="lista_coordO" class="lista"></div>
                <input type="submit" class="btn solid" value="Buscar" />
              </form>

            </div>
            <form class="inicio-ticket" id="ticket-form" action="/mostrar_datos" method="POST">
              <h2 class="titulo">Buscar Por Número De Ticket</h2>
              <div class="registro">
                <span class="material-symbols-outlined">airplane_ticket</span>
                <input type="text" id="sugeridos" name="num_ticket" required placeholder="Número de Ticket">
              </div>
                <div id="lista_sugeridos" class="lista ul"></div>
              <input type="submit" class="btn" value="BUSCAR" />
            </form>
          </div>
        </div>
  
        <div class="paneles-desplazamiento">
          <div class="panel panel-izquierdo">
            <div class="contenido">
              <h3>¿Quieres Buscar Por El Número De Ticket?</h3>
              
              <p>
                En su boleto de abordaje, encontrará un número de ticket que le permitira
                acceder a la información meteorológica correspondiente a nuestra plataforma.
              </p>
              <button class="btn desplazamiento" id="ticket-boton">
                Por Ticket
              </button>
            </div>
            <img src="/static/img/img-panel.png" class="imagen" alt="" />
          </div>
          <div class="panel panel-derecho">
            <div class="contenido">
              <h3>¿Quieres Buscar Por El Nombre De La Ciudad?</h3>
              <p>
                Usted puede indicar el nombre de la ciduad de origen y de destino, esto le permitira
                acceder a la información meteorológica correspondiente a nuestra plataforma.
              </p>
              <button class="btn desplazamiento" id="ciudad-boton">
                Por Ciudad
              </button>
            </div>
            <img src="/static/img/img-panel2.png" class="imagen" alt="" />
          </div>
        </div>
      </div>


<script src="/static/js/script.js"></script>
</body>
</html>
 
