<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima.com</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="../static/css/mostrar_clima.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;500;700&display=swap"
        rel="stylesheet">

    <link rel="icon" href="../static/img/climaPrincipal.png" type="imagen/icono">




</head>

<body>

    {% for dato in datos %}

    <meta id="fruta" data-fruta="{{ climaOrigen }}">
    <meta id="fruta" data-fruta="{{ climaDestino }}">

    <!-- Animacion sacada de la pagina Animated Backgrouns, consultada el 20 de semptiembre-->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="100%" height="100%" viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
        <defs>
            <linearGradient id="bg">
                <stop offset="0%" style="stop-color:rgba(185, 208, 209, 0.795)"></stop>
                <stop offset="50%" style="stop-color:rgba(232, 238, 241, 0.6)"></stop>
                <stop offset="100%" style="stop-color:rgba(202, 231, 228, 0.799)"></stop>
            </linearGradient>
            <path id="wave" fill="url(#bg)" d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
    s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
        </defs>
        <g>
            <use xlink:href='#wave' opacity=".3">
                <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="10s"
                    calcMode="spline" values="270 230; -334 180; 270 230" keyTimes="0; .5; 1"
                    keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
            </use>
            <use xlink:href='#wave' opacity=".6">
                <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="8s"
                    calcMode="spline" values="-270 230;243 220;-270 230" keyTimes="0; .6; 1"
                    keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
            </use>
            <use xlink:href='#wave' opacty=".9">
                <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="6s"
                    calcMode="spline" values="0 230;-140 200;0 230" keyTimes="0; .4; 1"
                    keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
            </use>
        </g>
    </svg>

    <div class="container-fluid contenedor">

        <div class="row m-2 p-2">

            <div class="col m-5 text-center">

                <div class="row m-2 p-2">
                    <div class=" text-center">
                        <h1 class="tituloCiudad fondoTexto"> {{ dato.nombre }} </h1>
                    </div>
                </div>

                <div class="row m-2 p-2 justify-content-center">
                    <div class="col-4 m-2 p-2 d-flex justify-content-center align-items-center">
                        <img src="../static/img/climaPrincipal.png" class="imagenClima" alt="imagenClima"
                            id="imgClimaOrigen">
                    </div>
                    <div class="col m-2 p-2">
                        <div class="container m-2 p-2 text-center">
                            <div class="row">
                                <div class="col">
                                    <h1> {{ dato.clima_principal}}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <p class="text-center"> {{ dato.descripcion_clima }} </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col m-2 p-2 textoInformativo">

                        <div class="icono">
                            <i class="fa-solid fa-temperature-full"></i>
                        </div>

                        <div class="texto">
                            <p class="mb-2"> Temperatura maxima </p>
                            <p> {{dato.temperatura_max }}°C</p>
                        </div>

                    </div>

                    <div class="col m-2 p-2 textoInformativo">

                        <div class="icono">
                            <i class="fa-solid fa-temperature-empty"></i>
                        </div>

                        <div class="texto">
                            <p class="mb-2"> Temperatura minima </p>
                            <p> {{dato.temperatura_min}}°C </p>
                        </div>

                    </div>

                    <div class="col m-2 p-2 textoInformativo">

                        <div class="icono">
                            <i class="fa-solid fa-cloud-rain"></i>
                        </div>

                        <div class="texto">
                            <p class="mb-2"> Lluvia </p>
                            <p> {{dato.lluvia}}% </p>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col m-2 p-2 textoInformativo">

                        <div class="icono">
                            <i class="fa-solid fa-droplet"></i>
                        </div>

                        <div class="texto">
                            <p class="mb-2"> Humedad </p>
                            <p> {{ dato.humedad }}% </p>
                        </div>

                    </div>

                    <div class="col m-2 p-2 textoInformativo">

                        <div class="icono">
                            <i class="fa-solid fa-cloud"></i>
                        </div>

                        <div class="texto">
                            <p class="mb-2"> Nubes</p>
                            <p> {{dato.nubes }} %</p>
                        </div>

                    </div>

                    <div class="col m-2 p-2 textoInformativo">

                        <div class="icono">
                            <i class="fa-solid fa-wind"></i>
                        </div>

                        <div class="texto">
                            <p class="mb-2"> Viento </p>
                            <p>{{ dato.velocidad_viento }}km/h</p>
                        </div>

                    </div>
                </div>

            </div>


            

        </div>

        <div class="row m-4 p-2">
            <div class="text-center">
                <button type="submit" class="btn btn-lg fs-1 fondoTexto" onclick="window.location.href = 'index.html'">
                    Hacer otra consulta
                </button>
            </div>
        </div>

        <button id="botonMagico1"> soleado </button>
        <button id="botonMagico2"> pocasNubes </button>
        <button id="botonMagico3"> unaNube </button>
        <button id="botonMagico4"> nublado </button>
        <button id="botonMagico5"> lluvia </button>
        <button id="botonMagico6"> lluvia2 </button>
        <button id="botonMagico7"> tormenta </button>
        <button id="botonMagico8"> nevado</button>
        <button id="botonMagico9"> niebla </button>


        <script src="../static/js/fondoMostrarClima.js"></script>

        {% endfor %}
</body>

</html>